*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

:root {
  --DarkBlue: hsl(233, 26%, 24%);
  --LimeGreen: hsl(136, 65%, 51%);
  --BrightCyan: hsl(192, 70%, 51%);

  --GrayishBlue: hsl(233, 8%, 62%);
  --LightGrayishBlue: hsl(220, 16%, 96%);
  --VeryLightGray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

nav {
  z-index: 10;
  background-color: white;
}

.nav-wrapper {
  height: 64px;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

div.logo {
  margin-top: 3px;
}

.icon-menu {
  width: 40px;
  height: 25px;
  background-image: url("images/icon-hamburger.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.close-menu {
  background-image: url("images/icon-close.svg");
}

a.btn-nav {
  display: none;
}
.nav-wrapper ul.nav-links {
  list-style-type: none;
}

@media screen and (max-width: 880px) {
  ul.nav-links {
    list-style-type: none;
    top: -60rem;
    left: 2rem;
    right: 2rem;
    padding-bottom: 1.5rem;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  ul.nav-mobile {
    top: 5rem;
  }

  ul.nav-links li {
    margin-top: 1.5rem;
  }

  ul.nav-links li a {
    font-size: 1rem;
    margin-right: unset;
    text-decoration: none;
    color: var(--GrayishBlue);
    position: relative;
  }

  a.link-hover:hover::after {
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    content: "";
    bottom: -0.5rem;
    background-color: var(--LimeGreen);
  }

  .mobile-menu-shadow {
    position: absolute;
    top: 0;
    z-index: 2;
    display: none;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 6%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100vw;
    height: 100vh;
  }
}

/*  NAV DESKTOP */
@media screen and (min-width: 880px) {
  nav {
    height: 80px;
    background-color: white;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-wrapper {
    height: 100%;
    width: 100%;
    max-width: 1110px;
    margin: auto;
  }

  div.logo {
    margin-top: 10px;
  }

  .icon-menu {
    display: none;
  }

  .nav-wrapper ul.nav-links {
    display: block;
    margin-left: 2.3rem;
  }

  ul.nav-links li {
    display: inline-block;
  }

  ul.nav-links li a {
    font-size: 0.8rem;
    margin-right: 1.3rem;
    text-decoration: none;
    color: var(--GrayishBlue);
    position: relative;
  }

  ul.nav-links li a:hover {
    color: var(--DarkBlue);
  }

  a.link-hover:hover::after {
    width: 100%;
    height: 4px;
    display: block;
    position: absolute;
    content: "";
    bottom: -1.7rem;
    background-color: var(--LimeGreen);
  }

  a.btn-nav {
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 44px;
    color: var(--VeryLightGray);
    font-weight: 400;
    font-size: 0.8rem;
    width: 163px;
    padding: 0 1rem;
    height: 44px;
    border-radius: 55px;
    background-image: linear-gradient(
      45deg,
      hsl(136deg 65% 51%) 0%,
      hsl(175deg 100% 40%) 50%,
      hsl(192deg 70% 51%) 100%
    );
  }

  a.btn-nav:hover {
    opacity: 0.5;
  }
}

/* HERO WRAPPER */

div.hero-info a.btn-nav {
  display: block;
  text-decoration: none;
  text-align: center;
  line-height: 44px;
  color: var(--VeryLightGray);
  font-weight: 400;
  font-size: 0.8rem;
  width: 163px;
  padding: 0 1rem;
  height: 44px;
  border-radius: 55px;
  background-image: linear-gradient(
    45deg,
    hsl(136deg 65% 51%) 0%,
    hsl(175deg 100% 40%) 50%,
    hsl(192deg 70% 51%) 100%
  );
}

@media screen and (max-width: 600px) {
  .hero-container {
    background-image: url("images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: -10rem;
    background-size: contain;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    order: 1;
    width: 100%;
    height: 100%;
    margin-top: -5rem;
    z-index: 0;
  }

  .hero-img img {
    width: 100%;
  }

  .hero-info {
    order: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero-container h1 {
    font-weight: 300;
    font-size: 2.25rem;
    letter-spacing: -0.015rem;
    color: var(--DarkBlue);
  }

  .hero-container p.paragraph {
    font-size: 0.9rem;
    color: var(--GrayishBlue);
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  div.hero-container {
    background-color: var(--VeryLightGray);
  }

  div.hero-wrapper {
    width: 100%;
    height: unset;
    margin: auto;
    max-width: 1110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.hero-img {
    width: 50%;
    height: 50%;
    order: 1;
    margin-top: -10rem;
    z-index: 0;
  }

  div.hero-img img {
    width: 100%;
  }

  div.hero-info {
    width: 70%;
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 4rem;
  }

  .hero-img {
    margin-right: unset;
  }

  .hero-container h1 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: -0.015rem;
    color: var(--DarkBlue);
  }

  .hero-container p.paragraph {
    font-size: 1rem;
    color: var(--GrayishBlue);
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 950px) {
  div.hero-container {
    background-color: var(--VeryLightGray);
    background-image: url("images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: 43.4vw;
    background-position-y: -260px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  div.hero-wrapper {
    width: 100%;
    height: 656px;
    margin: auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.hero-info {
    width: 45%;
  }

  .hero-img {
    margin-right: -16.5rem;
    margin-top: 2rem;
    z-index: 1;
  }

  div.hero-container h1 {
    font-weight: 300;
    font-size: 3rem;
    letter-spacing: -0.015rem;
    color: var(--DarkBlue);
  }

  div.hero-container p.paragraph {
    font-size: 1rem;
    color: var(--GrayishBlue);
    margin-top: 1.3rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
  }
}
/* CONTENT_WRAPPER */

div.content-wrapper {
  width: 100%;
  background-color: var(--LightGrayishBlue);
  padding-top: 3.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3.5rem;
}

div.choose-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.choose-header h1 {
  font-weight: 300;
  font-size: 1.75rem;
  letter-spacing: -0.015rem;
  color: var(--DarkBlue);
}

div.choose-header p.paragraph {
  font-size: 0.8rem;
  color: var(--GrayishBlue);
  margin-top: 1rem;
  line-height: 1.4rem;
}

section.content-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.9rem;
}

div.feature-item {
  min-width: 260px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.feature-item:not(:first-child) {
  margin-top: 1.8rem;
}

div.feature-item h2 {
  font-weight: 300;
  font-size: 1.09rem;
  letter-spacing: -0.015rem;
  margin-top: 1.5rem;
}

div.feature-item p.paragraph {
  font-size: 0.8rem;
  color: var(--GrayishBlue);
  margin-top: 1rem;
  line-height: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 830px) {
  .content-main {
    width: 100%;
    max-width: 1110px;
    margin: auto;
  }

  div.choose-header {
    justify-content: unset;
    align-items: unset;
    text-align: left;
    max-width: 1110px;
  }

  div.choose-header h1 {
    font-size: 2.2rem;
    letter-spacing: -0.039rem;
    margin-top: 2.3rem;
  }

  div.choose-header p.paragraph {
    max-width: 650px;
    font-size: 1rem;
    margin-top: 1.6rem;
    letter-spacing: -0.029rem;
    line-height: 1.47rem;
  }

  section.content-features {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 3.85rem;
  }

  div.feature-item {
    align-items: flex-start;
    text-align: left;
  }

  div.feature-item {
    margin-top: unset;
  }

  div.feature-item h2 {
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: -0.015rem;
    margin-top: 2.5rem;
  }

  div.feature-item p.paragraph {
    text-align: left;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    max-width: 260px;
    letter-spacing: -0.029rem;
  }
}

@media screen and (min-width: 830px) and (max-width: 1196px) {
  div.choose-header {
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1110px;
  }

  div.choose-header h1 {
    font-size: 2.2rem;
    letter-spacing: -0.039rem;
    margin-top: 2.3rem;
  }

  div.choose-header p.paragraph {
    max-width: 650px;
    font-size: 1rem;
    margin-top: 1.6rem;
    letter-spacing: -0.029rem;
    line-height: 1.47rem;
  }

  section.content-features {
    flex-wrap: wrap;
  }

  div.feature-item {
    text-align: center;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
  }

  div.feature-item:not(:first-child) {
    margin-top: 2.5rem;
  }

  div.feature-item p.paragraph {
    text-align: center;
    max-width: 370px;
  }
}

/* ARTICLE_WRAPPER */

div.article-wrapper {
  background-color: var(--VeryLightGray);
  padding-top: 4.9rem;
  padding-left: 1.15rem;
  padding-right: 1.15rem;
  padding-bottom: 3.5rem;
  width: 100%;
  margin: auto;
}

div.article-wrapper h1 {
  font-weight: 400;
  font-size: 1.8rem;
  letter-spacing: -0.015rem;
  color: var(--DarkBlue);
  text-align: center;
}

div.article-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin-top: 1.7rem;
}

div.article-img {
  width: 100%;
  height: 200px;
  border-radius: 8px 8px 0 0;
}

.article-item:first-child .article-img {
  background-image: url("images/image-currency.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-item:nth-child(2) .article-img {
  background-image: url("images/image-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-item:nth-child(3) .article-img {
  background-image: url("images/image-plane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-item:nth-child(4) .article-img {
  background-image: url("images/image-confetti.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.article-info {
  padding: 1.25rem 1.75rem 1.75rem 1.75rem;
}

.article-info span {
  font-size: 0.5rem;
  color: var(--GrayishBlue);
}

.article-info h2 {
  text-wrap: unset;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--DarkBlue);
  margin-top: 0.5rem;
}

.article-info p.paragraph {
  font-size: 0.7rem;
  color: var(--GrayishBlue);
  margin-top: 0.5rem;
  line-height: 1rem;
}

@media screen and (max-width: 750px) {
  .article-main {
    width: 100%;
    margin: auto;
  }

  section.articles {
    flex-wrap: wrap;
    width: 60%;
    min-width: 255px;
    margin: auto;
  }

  div.article-item {
    width: 100%;
  }

  div.article-wrapper h1 {
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  div.article-main {
    max-width: 1111px;
    margin: auto;
  }

  div.article-wrapper h1 {
    font-size: 2.2rem;
    letter-spacing: -0.039rem;
    margin-top: 2.3rem;
    text-align: left;
  }

  section.articles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
  }

  div.article-item {
    width: 255px;
    height: 395px;
  }

  .article-info {
    padding: 1.25rem 1.25rem 1.75rem 1.25rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 1196px) {
  section.articles {
    flex-wrap: wrap;
  }

  div.article-item {
    width: 45%;
  }

  div.article-wrapper h1 {
    text-align: center;
  }
}

/* FOOTER */

footer {
  width: 100%;
  background-color: var(--DarkBlue);
  color: white;
  padding: 2.3rem;
}

div.footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.socials {
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
}

div.socials svg {
  margin: 0.4rem;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer ul > li > a {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 300;
}

footer ul > li > a:hover {
  color: var(--LimeGreen);
}

footer ul > li {
  margin-top: 0.7rem;
}

div.footer-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

a.footer-btn {
  text-decoration: none;
  text-align: center;
  line-height: 44px;
  color: var(--VeryLightGray);
  font-weight: 400;
  font-size: 0.8rem;
  width: 163px;
  height: 44px;
  border-radius: 55px;
  background-image: linear-gradient(
    45deg,
    hsl(136deg 65% 51%) 0%,
    hsl(175deg 100% 40%) 50%,
    hsl(192deg 70% 51%) 100%
  );
}

.footer-btn:hover {
  opacity: 0.8;
}

p.footer-disclaimer {
  font-weight: 300;
  font-size: 0.78rem;
  color: var(--GrayishBlue);
  margin-top: 1.75rem;
}

@media screen and (min-width: 886px) {
  footer {
    margin-top: 1rem;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1111px;
    margin: auto;
  }

  .footer-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  div.footer-logos {
    justify-content: center;
    align-items: flex-start;
  }

  div.socials {
    margin-top: 2.64rem;
    margin-bottom: unset;
  }

  div.socials svg {
    margin: 0.21rem;
  }

  div.footer-cta {
    margin-top: unset;
    justify-content: flex-end;
    align-items: flex-end;
  }

  footer ul {
    text-align: left;
  }

  footer ul > li:not(:first-child) {
    margin-top: 0.75rem;
  }

  footer ul > li:first-child {
    margin-top: 0.3rem;
  }

  ul.menu1 {
    margin-left: 7rem;
  }

  ul.menu2 {
    margin-left: 7.2rem;
  }
}
